################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/swap_case/.vs/swap_case/FileContentIndex
