################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/swap_case/.vs/swap_case/FileContentIndex
/title_function/.vs/title_function
/lstrip_function/.vs/lstrip_function
/issuper_function/.vs/swap_case
/remove_prefix/.vs/remove_prefix
/ends_with_function/.vs/ends_with_function
/lower_case/.vs/lower_case
/capital_first_letter/.vs/capital_first_letter
